.bestDeal .dealTitle {
    color: goldenrod;
    text-transform: uppercase;
    text-align: center;
    margin: 20px;
    padding: 10px;
    letter-spacing: 1px;
}
.bestDeal .imageContainerScroll {
    overflow: auto;
}
.bestDeal .imageContainerScroll::-webkit-scrollbar {
    display: none;
}
.bestDeal .imageDeck,
.bestDeal .imageDeckScroll {
    display: flex;
    width: 100%;
}
.bestDeal .imageDeck {
    flex-wrap: wrap;
    flex-grow: 1;
}
.bestDeal .card,
.bestDeal .PaperCard {
    width: 100%;
    margin: 10px auto;
    border-radius: 10px;
    padding: 10px;
}
.bestDeal .card {
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    display: grid;
    justify-content: center;
    width: 300px;
}
.bestDeal .card img {
    width: 250px;
    height: auto;
}
.bestDeal .PaperCard {
    min-width: 300px;
}
.bestDeal .PaperCard-body {
    text-align: center;
}
.PDealDesc {
    color: rgb(21, 117, 21);
}
.spotlight .searchBar {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    padding: 5px;
    border-radius: 5px;
    flex-grow: 1;
    display: inline-block;
    right: 0;
    text-align: end;
}
.spotlight input {
    outline: none;
    border: none;
    padding: 10px;
}
.spotlight .viewAllBtn {
    background-color: royalblue;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
}
.spotlight .viewAllBtn:hover {
    background-color: cornflowerblue;
}
.viewAllBtn .arrow {
    margin-left: 5px;
}

.descContainer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-around;
    text-align: center;
}
.descContainer .paper {
    border: 2px solid goldenrod;
    border-radius: 10px;
    background-color: purple;
    color: goldenrod;
    text-transform: uppercase;
    padding: 10px;
}
.paper span {color: #fff;}
.paper h1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
small {
    font-size: 1rem;
}

@media screen and (min-width: 764px) {
    .banner img {
        object-fit: cover;
        height: 400px;
    }
    .bestDeal .card {
        width: calc(50% - 20px);
        display: grid;
        justify-content: center;
    }
    .bestDeal .card img {
        width: 250px;
        height: 300px;
    }

    .spotlight input {
        width: 350px;
    }
}

@media screen and (min-width: 1024px) {
    .banner img {
        object-fit: cover;
        height: 400px;
    }
    .bestDeal .card {
        width: calc(33% - 20px);
        display: grid;
        justify-content: center;
    }

    .spotlight input {
        width: 350px;
    }

    .descContainer .paper {
        width: 200px;
        height: 200px;
        place-items: center;
        display: grid;
        font-size: 2rem;
        border-width: 5px;
        border-radius: 50px;
    }
    .descContainer .paper span {
        letter-spacing: 2px;
    }
    small {font-size: 1.5rem;}
}
.banner img {
    width: 100%;
    height: auto;
}